doctype html
html
    head
        title="Email Verification"
        style
             include ./style.css
    body
        table(role="presentation", width="100%")
            td(align="center")
                p Welcome to Next App! 
                div.verification-message Please confirm this email address by clicking the button below.
                div 
                    a(type="button", href=`http://localhost:3000/confirmEmail?email=${hash}`) Confirm email
